.aqi_configuration,
.info_container {
    padding: 5px 20px;
}

hr {
    border: none;
    border-top: 3px double lightgrey;
    color: lightgrey;
    overflow: visible;
    text-align: center;
    height: 5px;
}

ul {
    padding: 5px 25px;
}